.box{
    background-color: yellow;
    padding: 10px;
    max-width: 80%;
}

.box2{
    font-size: 20px;
    text-decoration: underline ;
    max-width: 80%;
}

.light{
    background-color: white;
    color: black;
}

.dark{
    background-color: black;
    color: white;
}

h1{
    background-color: grey;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    text-align: center;
}

.items{
    background-color: aliceblue;
    margin: 0;
    padding: 0;
    justify-content: center;
    border-style: solid;
    
}

.item{
    background-color: aliceblue;
    margin: 0;
    padding: 0;
    justify-content: center;
    border-style: solid ;
    font-size: 50px;
    

}

.btn{

}